{% extends "base.html.twig" %}

{% block title %}Deck | MVC{% endblock %}

{% block body %}
    <h1>Deck</h1>

{% endblock %}
{% block aside %}
    <aside>
        <h1>Länkar</h1>
        <ul class="asidenavbar">
            <li><a href="card">Card</a></li>
        </ul>
    </aside>
{% endblock %}