/* app.css */

@import url("pig/pig.css");

@import url("font.css");
@import url("footer.css");
@import url("gallery.css");
@import url("header.css");
@import url("layout.css");
@import url("lucky.css");
@import url("nav.css");
@import url("responsive.css");
@import url("variables.css");

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    /* background: url('../images/background.jpg'); 
    background-size: cover; */
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid black;
    min-height: 50vh;
}