/* font.css */

h1 {
    border-bottom: 4px double var(--border-color);
}

main h1 {
    font-size: 2em;
    text-align: center;
}

main p {
    font-size: 1.2em;
    color: var(--font-main-color);
}

aside h1 {
    font-size: 1.5em;
    text-align: left;
    margin-left: 0.5em;
}

aside h2,
h3 {
    font-size: 1.3em;
    text-align: left;
    margin-left: 0.5em;
}

aside p {
    font-size: 1.1em;
}