/* font.css */

h1 {
    border-bottom: 4px double var(--border-color);
}

.about h1 {
    font-size: 2em;
    text-align: center;
}

.about p {
    font-size: 1.2em;
    color: var(--font-main-color);
}