/* layout.css */

.layout {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.layout:has(aside) {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    align-items: stretch;
}

main {
    flex: 3 1 0;
    min-width: 0;
}

aside {
    flex: 1 1 0;
    min-width: 0;
    border: 2px solid black;
    min-height: 50vh;
}

.mainbox {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.introbild {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 1em;
}

.about {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: 1em;
}

.aboutbox {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.abouttext {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 1em;
}

.aboutbild {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 1em;
}