/* responsive.css */

@media screen and (max-width: 600px) {
    .intro {
        flex-direction: column-reverse;
    }

    .introbild,
    .about {
        max-width: 100%;
    }

    .layout {
        flex-direction: column;
    }

    main,
    aside {
        flex: unset;
        width: 100%;
    }

    .layout.has-aside {
        flex-direction: column;
    }

    main,
    aside {
        flex: unset;
        width: 100%;
    }

    ul {
        gap: 0.2em;
        font-size: 1.2em;
    }

    li {
        display: inline;
        margin: 0.2em;
    }
}