/* card.css */

.deck-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100px;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.9rem;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    border: 1px solid #ccc;
}

.red {
    color: red;
}

.black {
    color: black;
}