{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <p>V채lkommen till kursen MVC!</p>
    <p>
        I den h채r kursen ska vi utveckla v책ra redan befintliga kunskaper i PHP, design samt databas.<br>
        Vi kommer att anv채nda oss utav ramverket Symphony.
    </p>

    <a href="https://github.com/dbwebb-se/mvc">Kursens Gitrepo</a><br>
    <a href="https://github.com/Zand9/mvc">Mitt gitrepo</a>

{% endblock %}