{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <p>Välkommen till kursen MVC!</p>
    <p>
        I den här kursen ska vi utveckla våra redan befintliga kunskaper i PHP, design samt databas.<br>
        Vi kommer att använda oss utav ramverket Symphony.
    </p>

    <a href="https://github.com/dbwebb-se/mvc">Kursens Gitrepo</a><br>
    <a href="https://github.com/Zand9/mvc">Mitt gitrepo</a>

{% endblock %}
{% block aside %}
    <aside>
        <h1>Detta är en aside</h1>
        <p>hej</p>
    </aside>
{% endblock %}