{% extends "base.html.twig" %}

{% block title %}API | MVC{% endblock %}

{% block body %}
    <h1>API</h1>

<p>
    Här är en lista på alla olika api-sidor som finns och vad de gör.<br>
    Länkar till sidorna finns i asiden till höger.
</p>


<h2>Quote</h2>
<p>
    Genererar slumpmässigt ett "dagens citat".<br>
    Visar även dagens datum och tidsstämpel för när svaret genererades.
</p>

<h2>Deck</h2>
<p>
    Returnerar en JSON struktur med hela kortleken sorterad per färg och värde.
</p>

<h2>Shuffle</h2>
<p>

</p>

<h2>Deck/Draw</h2>
<p>

</p>

{% endblock %}
{% block aside %}
    <aside>
        <h1>Länkar</h1>
        <ul class="asidenavbar">
            <li><a href="api/quote">api/quote</a></li>
            <li><a href="api/card">api/card</a></li>
            <li><a href="api/deck">api/deck</a></li>
            <li><a href="api/deck/shuffle">api/shuffle</a></li>
            <li><a href="api/deck/draw">api/deck/draw</a></li>
        </ul>
    </aside>
{% endblock %}