{% extends "base.html.twig" %}

{% block title %}API | MVC{% endblock %}

{% block body %}
    <h1>API</h1>

    <h2>Blanda kortleken</h2>
<form method="post" action="{{ path('api_deck_shuffle') }}">
    <button type="submit">Blanda</button>
</form>

<h2>Dra kort</h2>
<form method="post" action="{{ path('api_deck_draw') }}">
    <label for="number">Antal kort att dra:</label>
    <input type="number" name="number" id="number" min="1" max="52">
    <button type="submit">Dra</button>
</form>

<p>
    Här är en lista på alla olika api-sidor som finns och vad de gör.<br>
    Länkar till sidorna finns i asiden till höger.
</p>

<h2>Quote</h2>
<p>
    Genererar slumpmässigt ett "dagens citat".<br>
    Visar även dagens datum och tidsstämpel för när svaret genererades.
</p>

<h2>Deck</h2>
<p>
    Returnerar en JSON struktur med hela kortleken sorterad per färg och värde.
</p>

<h2>Shuffle</h2>
<p>
    Blandar kortleken och returnerar därefter en JSON struktur med kortleken.
</p>

<h2>Deck/Draw</h2>
<p>
    Drar 1 eller :number kort från kortleken
    och visar upp dem i en JSON struktur samt antalet kort som är kvar i kortleken.
</p>

{% endblock %}
{% block aside %}
    <aside>
        <h1>Länkar</h1>
        <ul class="asidenavbar">
            <li><a href="api/quote">api/quote</a></li>
            <li><a href="api/deck">api/deck</a></li>
        </ul>
    </aside>
{% endblock %}