{% extends "base.html.twig" %}

{% block title %}Home | MVC{% endblock %}

{% block body %}
    <h1>Home</h1>

    <div class="mainbox">
        <a href="{{ asset('img/bildpamax.jpg') }}">
            <img class="introbild" src="{{ asset('img/bildpamax.jpg') }}" alt="Bild på Max"></a>
        <div class="about">
            <h1>Välkommen hit!</h1>
            <p>
                Tjeeeenare! Mitt namn är Max och jag bor på Öland. 
                Jag är 27 år och har varit ute i arbetslivet sedan gymnasiet men nu tänkte jag hitta någon annan bana att glida in på.
                Jag läste lite programmering och webbutveckling på gymnasiet men höll på redan lite innan det på min fritid,
                så ett intresse har väl egentligen alltid funnits. 
                Som barn höll jag på med många olika sporter så som fotboll, innebandy och badminton.
                Kärleken för fotbollen fortsatte in i tonåren även om jag ändrade bana till att bli domare istället.
                På bilden ser ni mig på mitt jobb i en ICA-butik på Öland.
                Mycket fin!! Jag hamnade i den butiken efter att ha läst ett halvår på Civilingenjör Datorsäkerhet här i Karlskrona.
                Det visade sig att det inte var något för mig, så här är jag nu!
            </p>
        </div
    </div>

{% endblock %}