{% extends "base.html.twig" %}

{% block title %}Report | MVC{% endblock %}

{% block body %}
    <h1>Report</h1>

<h2 id="kmom01">Kmom01</h2>
<p>
    Jag kommer till den här kursen och kursmomentet utan någon som helst tidigare erfarenhet av objektorientering.
    Det ska bli väldigt spännande att få dyka in i kommande uppgifter för det ser väldigt roligt ut från det lilla jag fått se hittills.
</p>
<p>
    Som jag förstår det så skapar man klasser som mallar och sedan så skapar man objekt utifrån dessa.
    Så att förstå dessa två är en viktig grund att att sedan kunna gå vidare och anropa och använda dessa i sin programmering.
    När man sedan ska använda sina klasser och objekt så är det viktigt att hålla reda på hur man anropar dessa.
    Jag har inte riktigt förstått när man ska använda $this-> och self:: men det tror jag kommer falla på sin plats
    när jag väl börjar arbeta med det i kommande kursmoment.
</p>
<p>
    Det har känts bra att komma igång med att skapa me-sidan. Mycket av koden och strukturen är sånt som jag känner igen
    från tidigare kurser så även om routes nu är i PHP istället för Javascript så känner jag att det är lätt att komma in i det.
</p>
<p>
    Först och främst tycker jag det är väldigt intressant hur mycket paket, verktyg och program
    det finns som krävs, och som arbetar i bakgrunden, för att man ska kunna koda effektivt.
    Man hinner läsa ganska långt ner i dokumentet innan man ens ser exempel på faktisk PHP-kod,
    vilket verkligen visar hur brett och omfattande programmering är.
    Då jag är helt ny inom detta så ska det bli skoj att hoppa in i namespaces, hur man skapar klasser och objekt, och sedan utgå därifrån.
    Artikeln innehåller väldigt mycket och det kändes väldigt överväldigande att ta in allt på en gång.
</p>
<p>
    Min TIL för detta kursmoment är Git och att göra kommandon rätt i terminalen. Det var välbehövligt att få testa på det en gång till
    så att det verkligen faller på sin plats och det känns det som att det har gjort nu. Det är även väldigt roligt att hålla på med.
</p>

<h2 id="kmom02">Kmom02</h2>
<p>
    1
</p>
<p>
    2
</p>
<p>
    3
</p>
<p>
    4
</p>

<h2 id="kmom03">Kmom03</h2>
<p>
    Redovisningstext...
</p>

<h2 id="kmom04">Kmom04</h2>
<p>
    Redovisningstext...
</p>

<h2 id="kmom05">Kmom05</h2>
<p>
    Redovisningstext...
</p>

<h2 id="kmom06">Kmom06</h2>
<p>
    Redovisningstext...
</p>

<h2 id="kmom10">Kmom10</h2>
<p>
    Redovisningstext...
</p>

{% endblock %}
{% block aside %}
    <aside>
        <h1>Länkar</h1>
        <ul class="asidenavbar">
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom10">Kmom10</a></li>
        </ul>
    </aside>
{% endblock %}